
<div style="border: 1px solid black;" >
  <h1>Hello</h1>
  <h4>{{ title }}</h4>
  <div class="signature-container" style="border: 1px solid black;">
    <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()"
    (onEndEvent)="drawComplete()" style="background-color: rgb(216, 216, 216); "></signature-pad>
  </div>

  <div class="buttons">
    <button (click)="clearSignature()">Clear signature pad</button>
    <button (click)="savePad()">Save signature</button>
  </div>

  <div class="signature-image" *ngIf="signatureImg">
    <img src='{{ this.signatureImg }}' />
  </div>
</div>
